<app-toolbar>
    <div after-logo class="d-none d-xl-flex h-100 mx-2">
        <a mat-button class="d-flex m-0 px-3 mat-h2 rounded-0">
            <span class="my-auto">Why Dropbox?</span>
        </a>
    
        <a mat-button class="d-flex d-flex m-0 px-3 py-2 mat-h2 rounded-0">
            <span>Products</span>
        </a>
    
        <a mat-button class="d-flex d-flex m-0 px-3 py-2 mat-h2 rounded-0">
            <span>Solutions</span>
        </a>
    
        <a mat-button class="d-flex d-flex m-0 px-3 py-2 mat-h2 rounded-0">
            <span>Pricing</span>
        </a>
    </div>

    <div pre-end class="d-none d-xl-flex h-100 mx-2">
        <a mat-button class="d-flex m-0 px-3 py-2 mat-h2 rounded-0">
            <span class="m-auto">Contact</span>
        </a>
    
        <a mat-button class="d-flex m-0 px-3 py-2 mat-h2 rounded-0">
            <span class="m-auto">Get App</span>
        </a>
    </div>

    <div mid-end class="d-flex h-100 me-2">
        <a mat-button class="d-flex m-0 px-3 py-2 mat-h2 rounded-0" [routerLink]="['/', 'register']">
            <span class="m-auto">Sign up</span>
        </a>
        <a mat-button class="d-flex m-0 px-3 py-2 mat-h2 rounded-0" [routerLink]="['/', 'login']">
            <span class="m-auto">Sign in</span>
        </a>
    </div>

    <div far-end class="d-flex py-2">
        <button mat-flat-button class="d-none d-md-flex rounded-0" color="accent">
            <span class="me-3 my-auto mat-h3 fw-bold">Get Started</span>
            <mat-icon class="ms-3 my'">arrow_forward</mat-icon>
        </button>
    </div>

    <button mobile-menu mat-icon-button class="d-xl-none mx-2 my-auto">
        <mat-icon>menu</mat-icon>
    </button>
</app-toolbar>

<main class="d-flex flex-column w-100">
    <div class="d-flex flex-column w-100 py-5 text-white" style="background-color: #1e1919;">
        <div class="d-flex flex-column mxw-90 mxw-sm-60 py-2 align-self-center">
            <h1 class="mx-auto mb-2 mat-display-3 fw-bold text-center" style="line-height: 120%;">
                Join over 700 million registered users who trust Dropbox
            </h1>
            <span class="mat-headline text-center">Easy to use, reliable, private, and secure. It’s no wonder Dropbox is
                the choice for storing and sharing your most
                important files.</span>
        </div>

        <button mat-flat-button class="mx-auto mt-4 px-4 py-3 rounded-0 mat-h1 text-dark" color="accent"
            style="width: fit-content">
            <span class="me-2 fw-bold">Find your plan?</span>
            <mat-icon class="ms-3">arrow_forward</mat-icon>
        </button>

        <div class="d-flex mxw-90 mxw-sm-60 mx-auto my-5 py-2">
            <img class="mx-auto"
                alt="A collection of images of a family and their dogs that is being savevd in a Dropbox folder"
                loading="lazy"
                src="https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/v2-hp-asset-medium-2560x1840.jpg.transform/2560w/80q/img.jpg"
                srcset="https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/v2-hp-asset-medium-2560x1840.jpg.transform/414w/80q/img.jpg 414w, https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/v2-hp-asset-medium-2560x1840.jpg.transform/828w/80q/img.jpg 828w, https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/v2-hp-asset-medium-2560x1840.jpg.transform/1024w/80q/img.jpg 1024w, https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/v2-hp-asset-medium-2560x1840.jpg.transform/1280w/80q/img.jpg 1280w, https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/v2-hp-asset-medium-2560x1840.jpg.transform/1600w/80q/img.jpg 1600w, https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/v2-hp-asset-medium-2560x1840.jpg.transform/1920w/80q/img.jpg 1920w, https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/v2-hp-asset-medium-2560x1840.jpg.transform/2560w/80q/img.jpg 2560w"
                style="object-fit: cover; object-position: center; width: 100%;">
        </div>

        <div class="d-flex flex-column container">
            <h1 class="mx-auto mat-display-1 px-3 py-3 text-center">See what sets Dropbox apart</h1>

            <div class="d-flex flex-wrap w-100">
                <div class="d-flex flex-column col-12 col-sm-6 col-md-3 px-3 py-2">
                    <img class="d-flex mb-4" alt="emoji, emoticon, smiley, positive" loading="lazy"
                        src="https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/emoji smile.svg"
                        style="width: fit-content; height: 48px; object-fit: scale-down; vertical-align: start;">
                    <span class="mat-title">Your files, not ours</span>
                    <p class="mat-h2">With Dropbox, your files belong to you, not us, so you can be sure we’re not
                        reselling your data.</p>
                </div>

                <div class="d-flex flex-column col-12 col-sm-6 col-md-3 px-3 py-2">
                    <img class="d-flex mb-4" alt="emoji, emoticon, smiley, positive" loading="lazy"
                        src="https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/cloud done.svg"
                        style="width: fit-content; height: 48px; object-fit: scale-down; vertical-align: start;">
                    <span class="mat-title">All your files in one place</span>
                    <p class="mat-h2">Store computer backups, photo libraries, thousands of documents—all your files, in
                        the same place
                    </p>
                </div>

                <div class="d-flex flex-column col-12 col-sm-6 col-md-3 px-3 py-2">
                    <img class="d-flex mb-4" alt="emoji, emoticon, smiley, positive" loading="lazy"
                        src="https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/twinkle.svg"
                        style="width: fit-content; height: 48px; object-fit: scale-down; vertical-align: start;">
                    <span class="mat-title">One-of-a-kind functionality</span>
                    <p class="mat-h2">Store files as large as 2 TB each, sync at light speed, and allow anyone to
                        preview nearly 200 file types.</p>
                </div>

                <div class="d-flex flex-column col-12 col-sm-6 col-md-3 px-3 py-2">
                    <img class="d-flex mb-4" alt="emoji, emoticon, smiley, positive" loading="lazy"
                        src="https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/shield.svg"
                        style="width: fit-content; height: 48px; object-fit: scale-down; vertical-align: start;">
                    <span class="mat-title">Ease of use and security</span>
                    <p class="mat-h2">2/3 of surveyed users say Dropbox keeps their files more secure and we’re a leader
                        in ease of use.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap py-2">
        <div class="col-12 col-md-6 ps-0 pe-md-1 py-1">
            <a class="d-flex w-100 h-100 py-5" href="" style="background-color: #14c8eb;">
                <div class="d-flex flex-column mxw-65  mx-auto text-dark">
                    <div class="d-flex mx-auto">
                        <span class="my-auto">
                            <svg
                                viewBox="0 0 24 24" fill="none" class="dig-UIIcon dig-UIIcon--standard" width="24" height="24"
                                focusable="false">
                                <path d="m5 5 7 10.096L19 5H5Zm7 6.244L9.223 7.24h5.545L12 11.244Zm4.889 5.026H7.11v2.23h9.778v-2.23Z"
                                    fill="currentColor"></path>
                            </svg></span>
                        <span class="ms-2 my-auto mat-h2 text-center">HelloSign, a Dropbox company</span>
                    </div>

                    <div class="d-flex flex-column w-100 mt-3 mb-auto text-center">
                        <h1 class="mx-auto mb-4 mat-display-2 fw-normal">Add eSignature to your workflows</h1>

                        <p class="mat-h2 mx-auto" style="line-height: normal;">HelloSign is the simple and secure way to send and request legally binding signatures online.</p>
                    </div>

                    <div class="d-flex mx-auto mt-auto mb-3 py-2 mat-h2 fw-bold">
                        <a class="me-3" href="">Learn more</a>
                        <a class="ms-3" href="">Try for free</a>
                    </div>

                    <div class="mt-auto py-5">
                        <img class="w-100 mx-auto"
                            src="https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/MP_Product_Tile_HS.png.transform/80q/img.jpg"
                            alt="image">
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12 col-md-6 ps-md-1 pe-0 py-1">
            <a class="d-flex w-100 h-100 py-5" href="" style="background-color: #007891;">
                <div class="d-flex flex-column mxw-65  mx-auto text-white">
                    <div class="d-flex mx-auto">
                        <span class="my-auto"><svg viewBox="0 0 24 24" fill="none"
                                class="dig-UIIcon dig-UIIcon--standard" width="24" height="24" focusable="false">
                                <path
                                    d="M11.746 5h6.691v7l-6.691-7v7h6.7v.485c0 4.424-2.688 6.515-6.7 6.515-4.192 0-6.692-2.053-6.692-6.517v-.875C5.054 7.318 7.756 5 11.746 5Z"
                                    fill="currentColor"></path>
                            </svg>
                        </span>
                        <span class="ms-2 my-auto mat-h2 text-center">DocSend, a Dropbox company</span>
                    </div>

                    <div class="d-flex flex-column w-100 mt-3 mb-auto text-center">
                        <h1 class="mx-auto mb-4 mat-display-2 fw-normal">Send a link and Open doors</h1>

                        <p class="mat-h2 mx-auto" style="line-height: normal;">Use DocSend to share, manage, and
                            optimize business-critical documents
                            by simply sending a
                            link.</p>
                    </div>

                    <div class="d-flex mx-auto mt-auto mb-3 py-2 mat-h2 fw-bold">
                        <a class="me-3" href="">Learn more</a>
                        <a class="ms-3" href="">Try for free</a>
                    </div>

                    <div class="mt-auto py-5">
                        <img class="w-100 mx-auto"
                            src="https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/MP_Product_Tile_DS.png.transform/80q/img.jpg"
                            alt="image">
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="d-flex flex-column w-100 bg-white">
        <div class="d-flex flex-column py-5" style="background-color: #f7f5f2;">
            <h1 class="mxw-90 mx-auto mb-2 px-3 mat-display-2 fw-bold text-center">What can Dropbox help you do?</h1>
            <span class="mxw-90 mxw-sm-60 mxw-lg-50 mx-auto mat-title text-center">Dropbox brings everything—traditional
                files, cloud content, and web shortcuts—together in one place.</span>
        </div>

        <div class="d-flex w-100 flex-wrap">
            <div class="col-12 col-md-6 px-2 px-md-5">
                <!-- border-solid border-dark border-top border-bottom -->
                <div *ngFor="let item of benefits; index as i; even as even; odd as odd; first as first; last as last"
                    class="d-flex flex-row px-3 py-3 border-solid benefit-item"
                    [ngClass]="{'border-top': !even || first, 'border-bottom': odd || last, 'selected': selectedBenefit === i }"
                    (click)="selectedBenefit = i">
                    <div class="d-flex flex-column mxw-80 py-2">
                        <span class="mb-1 mat-title fw-bold" style="line-height: 1.75rem;">{{item.title}}</span>

                        <div *ngIf="i === selectedBenefit" class="d-flex flex-column">
                            <p class="mat-h2">{{item.description}}</p>
                            <button mat-button class="p-0 mat-h3 fw-bold"
                                style="width: fit-content; text-decoration: underline; text-decoration-color: #f7f5f2;">Learn
                                more</button>
                        </div>
                    </div>

                    <button mat-icon-button class="ms-auto mb-auto rounded">
                        <mat-icon class="mb-auto">{{selectedBenefit === i ? 'expand_less' : 'expand_more'}}</mat-icon>
                    </button>
                </div>
            </div>
            <div class="d-none d-md-flex col-12 col-md-6">
                <div class="d-flex w-100 px-4 py-5" style="background-color: #14c8eb">
                    <img class="mxw-90 m-auto py-4"
                        alt="Image of files and folders that are organized and stored in Dropbox" loading="lazy"
                        src="https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/basic/basic_hero_ui@2x.png.transform/80q/img.png"
                        srcset="https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/basic/basic_hero_ui@2x.png.transform/414w/80q/img.png 414w, https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/basic/basic_hero_ui@2x.png.transform/828w/80q/img.png 828w, https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/basic/basic_hero_ui@2x.png.transform/1024w/80q/img.png 1024w, https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/basic/basic_hero_ui@2x.png.transform/1280w/80q/img.png 1280w, https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/basic/basic_hero_ui@2x.png.transform/80q/img.png 1440w">
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column" style="background-color: #f7f5f2;">
        <div class="d-flex flex-column w-100">
            <div class="d-flex flex-column my-2 py-5">
                <h1 class="mxw-90 mx-auto mb-2 px-3 mat-display-2 fw-normal text-center">How will you use Dropbox?</h1>
            </div>

            <div class="d-flex flex-wrap px-5 container">
                <div class="col-12 col-sm-6 pe-0 my-2 py-sm-0 border-solid border-sm-end user-usage-card">
                    <div class="d-flex flex-column h-100">
                        <div class="w-100" style="height: 172px; min-height: 172px; max-height: 172px;">
                            <img class="w-100 h-100"
                                alt="An illustration of a three people at a table gathered around a laptop"
                                loading="lazy"
                                src="https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/Segmentation_1@2x.png.transform/80q/img.jpg"
                                srcset="https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/Segmentation_1@2x.png.transform/414w/80q/img.jpg 414w, https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/Segmentation_1@2x.png.transform/828w/80q/img.jpg 828w, https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/Segmentation_1@2x.png.transform/1024w/80q/img.jpg 1024w, https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/Segmentation_1@2x.png.transform/80q/img.jpg 1088w"
                                style="object-fit: cover; object-position: center;">
                        </div>

                        <div class="d-flex flex-column h-100 px-3 py-3">
                            <span class="mb-3 mat-display-2">For Work</span>

                            <p class="mt-2 mb-5 mat-h2" style="line-height: 1.5rem;">Work efficiently with teammates and
                                clients,
                                stay in sync on projects, and keep company data safe—all in one place.</p>

                            <button mat-flat-button class="w-100 rounded-0 mt-auto px-4 py-3" color="accent">
                                <span class="me-2 my-auto">Get Dropbox for work</span>
                                <mat-icon class="ms-auto">arrow_forward</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 ps-0 my-2 py-sm-0 user-usage-card">
                    <div class="d-flex flex-column h-100">
                        <div class="w-100" style="height: 172px; min-height: 172px; max-height: 172px;">
                            <img class="w-100 h-100"
                                alt="An illustration of a person sitting on a couch with a laptop and a cat"
                                loading="lazy"
                                src="https://aem.dropbox.com/cms/content/dam/dropbox/warp/en-us/dropbox/Segmentation_2@2x.png.transform/80q/img.jpg"
                                style="object-fit: cover; object-position: center;">
                        </div>

                        <div class="d-flex flex-column h-100 px-3 py-3">
                            <span class="mb-3 mat-display-2">For personal use</span>

                            <p class="mt-2 mb-5 mat-h2" style="line-height: 1.5rem;">Keep everything that’s important to
                                you and your
                                family shareable and safe in one place. Back up files in the cloud,
                                share photos and videos, and more.</p>

                            <button mat-flat-button class="w-100 rounded-0 mt-auto px-4 py-3" color="accent">
                                <span class="me-2 my-auto">Get Dropbox for personal use</span>
                                <mat-icon class="ms-auto">arrow_forward</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column w-100">
            <div class="d-flex flex-column my-2 py-5">
                <h1 class="mxw-90 mxw-60 mx-auto mb-2 px-3 mat-display-2 fw-normal text-center">Get more out of Dropbox
                    by connecting with the tools you love</h1>

                <a class="mx-auto p-0 fw-bold" style="text-decoration: underline !important;">
                    <h3 class="mat-h2">Learn more about partner integrations</h3>
                </a>

                <div class="d-flex flex-wrap px-2 px-sm-5 py-5">
                    <div *ngFor="let tool of integratedTools" class="col-12 col-sm-4 col-md-3 my-4 px-3 py-3">
                        <img class="mb-3" alt="zoom" loading="lazy" [src]="tool.image" style="width: 64px;">

                        <h3 class="mt-3 mb-4">{{tool.name}}</h3>

                        <span class="mat-h2" style="line-height: normal;">{{tool.description}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column px-2 px-sm-5 py-5 text-white" style="background-color: #161313;">
        <div class="d-flex flex-column py-5">
            <h1 class="mxw-90 mxw-sm-70 mxw-xl-50 mx-auto mb-2 px-3 mat-display-2 fw-bold text-center">Trusted by over
                700 million registered users and 600,000 teams</h1>
            <span class="mxw-90 mxw-sm-60 mxw-lg-50 mx-auto mat-title text-center"
                style="text-decoration: underline;">View more customer stories</span>
        </div>

        <div class="d-flex flex-column pb-5 container">
            <div class="d-flex px-2 position-relative">
                <div class="d-none d-xl-flex position-absolute h-100 ms-2" style="left: 0;">
                    <button *ngIf="selectedTestimonial > 0 && showTestimonialsLargeControlButtons === true" mat-flat-button class="my-auto px-4 py-5" color="primary" (click)="selectPreviousTestimonial(testimonialSection)">
                        <mat-icon>navigate_before</mat-icon>
                    </button>
                </div>
                <div class="d-none d-xl-flex position-absolute h-100 me-2" style="right: 0;">
                    <button *ngIf="selectedTestimonial < testimonials.length - 1 && showTestimonialsLargeControlButtons === true" mat-flat-button class="my-auto px-4 py-5" color="primary" (click)="selectNextTestimonial(testimonialSection)">
                        <mat-icon>navigate_next</mat-icon>
                    </button>
                </div>

                <div #testimonialSection class="d-flex flex-wrap w-100 testimonials" (mouseover)="showTestimonialsLargeControlButtons = true" (mouseleave)="showTestimonialsLargeControlButtons = false" style="height: fit-content;">
                    <div class="col-12 col-sm-6 p-0">
                        <img class="w-100 h-100" src="{{testimonials[selectedTestimonial].image}}" alt="image"
                            style="object-fit: cover; object-position: center;">
                    </div>
                    <div class="d-flex flex-column col-12 col-sm-6 px-4 py-3" [style.background-color]="testimonials[selectedTestimonial].color" [style.color]="testimonials[selectedTestimonial].fontColor" style="min-height: 376px;">
                        <span class="mat-h1 mb-4" style="line-height: 1.5rem;">"{{testimonials[selectedTestimonial].content}}"</span>

                        <a href="." class="mat-h2 mb-5 text-underline">Read the full story</a>

                        <span class="mat-h2 mt-auto mb-0" style="line-height: 1.5rem;">{{testimonials[selectedTestimonial].person}}</span>
                    </div>
                </div>
            </div>

            <div class="d-flex mx-auto mt-4">
                <button *ngIf="selectedTestimonial > 0" mat-button class="px-2 py-2 rounded-0" (click)="selectPreviousTestimonial(testimonialSection)">
                    <mat-icon>navigate_before</mat-icon>
                </button>
                <p class="mx-2 my-auto mat-h1 text-secondary">{{selectedTestimonial + 1 | number:'2.0'}}/{{testimonials.length | number:'2.0'}}</p>
                <button *ngIf="selectedTestimonial < testimonials.length - 1" mat-button class="px-2 py-2 rounded-0" (click)="selectNextTestimonial(testimonialSection)">
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </div>
        </div>

        <div class="d-flex flex-wrap py-2 container">
            <div class="col-12 col-sm-8 my-3">
                <h1 class="me-2 my-auto mat-display-">For all things worth sharing.</h1>
            </div>

            <div class="col-12 col-md-4 my-3 explore-section">
                <button mat-flat-button class="w-100 ml-auto px-3 py-3 text-dark rounded-0" color="accent">
                    <span class="me-2 my-auto mat-h1">Explore plans</span>
                    <mat-icon class="ms-auto my-auto">arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>
</main>
