@import '../../styles.scss';

mat-toolbar {
    height: 48px!important;

    div {
        button[mat-flat-button].mat-flat-button {
            @include align-mat-button-content(auto);
        }

        a[mat-button].mat-button {
            @include align-mat-button-content(auto);
        }
    }
}

main {
    div {
        .benefit-item {
            &:hover {
                background-color: #f7f5f2;
            }

            &.selected:hover {
                background-color: unset;
            }
        }

        .user-usage-card {
            button[mat-flat-button].mat-flat-button {
                @include align-mat-button-content(auto);
            }
        }

        .explore-section {
            button[mat-flat-button].mat-flat-button {
                @include align-mat-button-content(auto);
            }
        }

        .testimonials {
            height: 372px;

            @include media-breakpoint-up(xl) {
                height: 472px;
            }
        }
    }
}
