<main class="d-flex flex-column w-100">
    <mat-toolbar class="d-flex p-0 bg-white shadow-sm">
        <a [routerLink]="['/']" class="d-flex h-100 p-0">
            <span class="d-flex h-100 p-3 my-auto bg-primary">
                <svg class="my-auto" width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                    d="M7.70076 0.320312L0.478516 4.91332L7.70076 9.50633L14.9242 4.91332L22.1465 9.50633L29.3687 4.91332L22.1465 0.320312L14.9242 4.91332L7.70076 0.320312Z"
                    fill="#F7F5F2"></path>
                    <path d="M7.70076 18.6925L0.478516 14.0994L7.70076 9.50633L14.9242 14.0994L7.70076 18.6925Z" fill="#F7F5F2"></path>
                    <path d="M14.9242 14.0994L22.1465 9.50633L29.3687 14.0994L22.1465 18.6925L14.9242 14.0994Z" fill="#F7F5F2"></path>
                    <path d="M14.9242 24.8164L7.70077 20.2234L14.9242 15.6304L22.1465 20.2234L14.9242 24.8164Z" fill="#F7F5F2"></path>
                </svg>
            </span>
            <span class="ms-3 my-auto mat-headline fw-bold text-dark">Dropbox</span>
        </a>

        <div class="d-none d-xl-flex h-100 mx-2">
            <a mat-button class="d-flex m-0 px-3 mat-h2 rounded-0">
                <span class="my-auto">Why Dropbox?</span>
            </a>
        
            <a mat-button class="d-flex d-flex m-0 px-3 py-2 mat-h2 rounded-0">
                <span>Products</span>
            </a>
        
            <a mat-button class="d-flex d-flex m-0 px-3 py-2 mat-h2 rounded-0">
                <span>Solutions</span>
            </a>
        
            <a mat-button class="d-flex d-flex m-0 px-3 py-2 mat-h2 rounded-0">
                <span>Pricing</span>
            </a>
        </div>

        <div class="d-flex h-100 ms-auto my-auto">
            <div class="d-none d-xl-flex h-100 mx-2">
                <a mat-button class="d-flex m-0 px-3 py-2 mat-h2 rounded-0">
                    <span class="m-auto">Contact</span>
                </a>

                <a mat-button class="d-flex m-0 px-3 py-2 mat-h2 rounded-0">
                    <span class="m-auto">Get App</span>
                </a>
            </div>

            <div class="d-flex h-100">
                <a mat-button class="d-flex m-0 px-3 py-2 mat-h2 rounded-0" [routerLink]="['/', 'register']">
                    <span class="m-auto">Sign up</span>
                </a>
                <a mat-button class="d-flex m-0 px-3 py-2 mat-h2 rounded-0" [routerLink]="['/', 'login']">
                    <span class="m-auto">Sign in</span>
                </a>
            </div>

            <div class="d-flex py-2">
                <button mat-flat-button class="d-none d-md-flex rounded-0" color="accent">
                    <span class="me-3 mat-h3 fw-bold">Get Started</span>
                    <mat-icon class="ms-3">arrow_forward</mat-icon>
                </button>
            </div>

            <button mat-icon-button class="mx-2 my-auto">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</main>
